/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato;
}

body {
    height: 100vh;
    background-image: url(images/Ciel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background: linear-gradient(to right, rgb(171, 219, 253) 50%, rgb(180, 224, 254) 50%);
    width: auto;
    height: auto;
    margin: 15% 7% 15% 7%;
    padding: 5%;
    border-radius: 10px;
    border: rgb(51, 77, 226) solid 5px;
}

.contenu {
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    grid-template-rows: 150px 150px 50px 50px;
    grid-template-areas:
    "player1 newGame player2"
    "score1 dice score2"
    "current1 rollDice current2"
    "current1 hold current2";
}

/*Joueur 1*/
.player1 {
    grid-area: player1;
    display: flex;
    align-items: self-end;
    justify-content: center;
    padding-bottom: 10px;
}

.blueCircle {
    display: flex;
    border-radius : 20px;
    align-self: end;
    margin: 10px 20px 35px 20px;
}

.score1 {
    grid-area: score1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current1 {
    grid-area: current1;
    background-color: rgb(38, 116, 250);
    display: flex ;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1px 30px 1px 30px;
}

/*Joueur2*/
.player2 {
    grid-area: player2;
    display: flex;
    align-items: self-end;
    justify-content: center;
    padding-bottom: 10px;
}
          
.score2 {
    grid-area: score2;
    display: flex;
    justify-content: center;
    align-items: center;               
}

.current2 {
    grid-area: current2;
    background-color: rgb(38, 116, 250);
    display: flex ;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1px 30px 1px 30px;
    
}

.scoreCurrent1, .scoreCurrent2{
    color: white;
}

/*Boutons*/
.newGame {
    grid-area: newGame;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 50%;
   
}

.rollDice {
    grid-area: rollDice;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.hold {
    grid-area: hold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*dé*/
.dice {
    grid-area: dice;
    display: flex;
    justify-content: center;
    align-items: self-start;
}

#dice {
     border-radius:20%;
     display: none;
}















